


.mebel-maker {
	padding: 75px 0px 70px 0px;
	
}

.mebel-maker__container {
	position: relative;
}

.mebel-maker__content::before {
	content: "";
	background-image: url("../images/icons/wood.svg");
	background-repeat: no-repeat;
	width: 346px;
	height: 483px;
	display: block;
	position: absolute;
	top: -109px;
	left: -25px;
	z-index: -1;

}

.mebel-maker__content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.mebel-maker__text {
	max-width: 670px;

}


.mebel-maker__title {
	font-family: 'Jacques Francois';
	font-weight: 400;
	font-size: 80px;
	line-height: 106px;
	color: #000000;
	
}




.mebel-maker__subtitle {
	font-family: 'Jost';
	font-weight: 300;
	font-size: 32px;
	line-height: 46px;
	margin-bottom: 56px;
	color: #000000;
	
	
}

.mebel-maker__button {
	margin-bottom: 71px;
}


.button {
	font-family: 'Jost';
	text-align: center;
	width: 300px;
	height: 90px;
	font-weight: 300;
	font-size: 32px;
	line-height: 51px;
	color: #000000;
	filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
	transition: 0.2s;
}

.button:hover {
	background: #C5D1E7;
}

.mebel-maker--digital {
	font-family: 'Jost';
	font-weight: 500;
	font-size: 40px;
	line-height: 58px;
	color: #000000;
	padding-right: 20px;
}


.mebel-maker__features {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 35px;
	color: #000000;

}


.mebel-maker__img {
	position: relative;
	object-fit: cover;
}

.mebel-maker__img::after {
	content: "";
	display: block;
	background-repeat: no-repeat;
	outline: 1px solid #000000;
	width: 570px;
	height: 761px;
	position: absolute;
	top: 58px;
	left: 26px;
}

/* Медиа запрос для Гланновй секции Мебель Макер*/

@media(max-width: 1389.98px) {
	
.mebel-maker__title {
	font-family: 'Jacques Francois';
	font-weight: 400;
	font-size: calc(40px + 40 * (100vw / 1440));
	line-height: 106px;
	color: #000000;
	
}

.mebel-maker__subtitle {
	font-family: 'Jost';
	font-weight: 300;
	font-size: calc(20px + 12 * (100vw / 1440));
	line-height: 46px;
	margin-bottom: calc(37px + 19 * (100vw / 1440));
	color: #000000;
	
	
}

.mebel-maker__button {
	margin-bottom: calc(37px + 34 * (100vw / 1440));
	
}


.button {
	
	width: calc(250px + 50 * (100vw / 1440));;
	height: calc(70px + 20 * (100vw / 1440));;
	font-size: calc(24px + 8 * (100vw / 1440));
	
}


.mebel-maker--digital {
	font-family: 'Jost';
	font-weight: 500;
	font-size: 40px;
	line-height: 58px;
	color: #000000;
	padding-right: calc(15px + 5 * (100vw / 1440));
}






}
